
<nav>
  <ul>
    <li class="li"><a href="/">Home</a></li>
    <li class="li"><a href="/movies">Movies</a></li>
    <li class="li"><a href="/movies/new">New Movies</a></li>
    <li class="li"><a href= "/movies/recommended">New Recommended</a></li>
    <li class="li"><a href="/genres">Genres</a></li>
    <li class="li"><a href="/actors">Actores</a></li>
    <li class="li"><a href="/movies/add">Agregar Peliculas</a></li>
   
  </ul>
</nav>